
.box {
	height: 410px;
	background: #fff;
	color: #fff;
	text-align: center;
	line-height: 100px;
}

.box1 {
	height: 200px;
	background: #fff;
	color: #fff;
	text-align: center;
	line-height: 100px;
}
.dress {
  height: 410px;
  line-height: 410px;
}

.v-space {
  margin-bottom: 20px;
}
.v-space-top {
  margin-top: 20px;
}

.product {
  height: 300px;
  line-height: 300px;
}

.hx2 {
  height: 620px;
  line-height: 620px;
}