/*! arbuzz.css Ã‚Â© yamoo9.net, 2016 */

.box {
  height: 300px;
  background: hsla(0, 0%, 20%, 0.45);
  color: #fff;
  /*text-align: center;*/
  line-height: 100px;
}


.box1 {
  height: 100px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

/*.box1 {
  height: 200px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 100px;
}*/

.dress {
  height: 410px;
  line-height: 410px;
}

.v-space {
  margin-bottom: 20px;
}
.v-space-top {
  margin-top: 20px;
}

.product {
  height: 300px;
  line-height: 300px;
}

.hx2 {
  height: 620px;
  line-height: 620px;
}

.logo {
 /* position: absolute;*/
   margin: 0;
  font-family: "Spoqa Han Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #080707;
}

.logo-s {
 /* position: absolute;*/
 margin: 0;
 font-family: "Spoqa Han Sans";
 font-size: 15px;
 font-weight: 700;
 font-style: italic;
 line-height: 1.1;
 letter-spacing: 0.03em;
 color: #757373;
}